//  =============================================================================
//
//  Adapted from the Bulma documentation code theme:
//
//  https://github.com/jgthms/bulma/blob/919504dfeae98809fd5eba3799ed0ba9865d2740/docs/sass/highlight.sass
//
//  Released under the MIT license.
//
//  =============================================================================
//
//  The MIT License (MIT)
//
//  Copyright (c) 2017 Jeremy Thomas
//
//  Permission is hereby granted, free of charge, to any person obtaining a copy
//  of this software and associated documentation files (the "Software"), to deal
//  in the Software without restriction, including without limitation the rights
//  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
//  copies of the Software, and to permit persons to whom the Software is
//  furnished to do so, subject to the following conditions:
//
//  The above copyright notice and this permission notice shall be included in
//  all copies or substantial portions of the Software.
//
//  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
//  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
//  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
//  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
//  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
//  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
//  THE SOFTWARE.
//
//  =============================================================================

// Colors used
@bg: #21222b;
@fg: #F8F8F2;
@light-grey: #bfbfbf;

@comment-blue: #218B97;
@comment-yellow: #ecec00;

@keyword-red: #dc3434;
@const-blue: #5eb9c4;
@attr-blue: #58b4b8;

@num-blue: #3187f0;
@str-orange: #f8c018;
@class-green: #249b13;
@function-green: #38c120;
@tag-red: #fc1224;

@builtin-grey: #bcbcbc;
@variable-blue: #aabcc1;

.highlight {
  pre {
    background-color: @bg;
    color: @fg;
  }

  // Comment, Comment.Single
  .c, .c1 {
    color: @comment-yellow;
  }

  // Comment.Hashbang
  .ch {
    color: @comment-yellow;
    font-weight: bold;
  }

  // Comment.Special
  .cs {
    color: @comment-yellow;
    font-style: italic;
  }

  // Comment.Multiline
  .cm, .cp, .cpf, .cs {
    color: @comment-blue;
  }

  // Comment.Preproc, Comment.PreprocFile 
  .cp, .cpf {
    color: @comment-blue;
    font-style: italic;
  }

  // Error, Generic.Error
  .err ,.gr {
    background-color: #ff0000;
    color: @fg;
  }

  // Operator, Operator.Word
  .o, .ow {
    color: @keyword-red;
  }

  // Literal, name, punctuation
  .l, .n, .p {
    color: @light-grey;
  }

  // Generic.Deleted
  .gd {
    color: #d60404;
  }

  // Generic.Inserted
  .gi {
    color: #A6E22E;
  }

  // Generic.Emph
  .ge {
    font-style: italic;
  }

  // Generic.Header, Generic.Subheader
  .gh, .gu {
    text-decoration: underline;
  }

  // Generic.Output, Generic.Prompt
  .go, .gp {
    font-weight: bold;
  }

  // Generic.Strong
  .gs {
    font-weight: bold;
  }

  // Generic.Traceback
  .gt {
    color: @fg;
  }

  // Keyword
  .k {
    color: @keyword-red;
  }

  // Keyword.Constant
  .kc {
    color: @const-blue;
    font-weight: bold;
  }

  // Keyword.Declaration
  .kd {
    color: @const-blue;
    font-style: italic;
  }

  // Keyword.Namespace, Keyword.Pseudo
  .kn {
    color: @keyword-red;
  }

  // Keyword.Pseudo, Keyword.Reserved
  .kp, .kr {
    color: @light-grey;
    font-weight: bold;
  }

  // Keyword.Type
  .kt {
    color: @const-blue;
  }

  // Literal.Date
  .ld {
    color: @num-blue;
  }

  // Literal.Numeric, Literal.Number.Bin, Literal.Number.Float,
  // Literal.Number.Hex, Literal.Number.Integer, Literal.Number.Oct
  // Literal.Number.Integer.Long
  .m, .mb, .mf, .mh, .mi, .mo, .il {
    color: @num-blue;
  }

  // Literal.String, Literal.String.Backtick,
  // Literal.String.Char, Literal.String.Delimiter, Literal.String.Double,
  // Literal.String.Escape, Literal.String.Heredoc, Literal.String.Interpol,
  // Literal.String.Other, Literal.String.Regex, Literal.String.Single,
  // Literal.String.Symbol
  .s, .sb, .sc, .dl, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss { 
    color: @str-orange;
  }

  // Literal.String.Affix
  .sa {
    color: @const-blue;
  }

  // Name.Attribute
  .na {
    color: @attr-blue;
  }

  // Name.Builtin
  .nb {
    color: #5eb9c4;
    font-style: italic;
  }

  // Name.Class
  .nc {
    color: @class-green;
    font-weight: bold;
  }

  // Name.Constant
  .no {
    color: @variable-blue;
    font-style: italic;
  }

  // Name.Decorator
  .nd {
    color: @function-green;
    font-style: italic;
  }

  // Name.Entity
  .ni {
    color: @const-blue;
    font-style: italic;
  }

  // Name.Exception
  .ne {
    color: @const-blue;
    font-weight: bold;
  }

  // Name.Function
  .nf {
    color: @function-green;
  }

  // Name.Namespace
  .nn {
    color: @fg;
    font-weight: bold;
  }

  // Name.Label
  .nl {
    color: @keyword-red;
    font-style: italic;
  }

  // Name.Other
  .nx {
    color: @fg;
    font-style: italic;
  }

  // Name.Tag
  .nt {
    color: @tag-red;
    }

  // Name.Variable 
 .nv {
    color: @variable-blue;
  }

  // Property
  .py {
    color: @attr-blue;
    font-weight: bold;
  }

  // Whitespace
  .w {
    color: @fg;
  }

  // Literal.String.Doc
  .sd {
    color: @comment-blue;
  }

  // Builtin.Pseudo
  .bp {
    color: @builtin-grey;
    font-weight: bold;
  }

  // Variable.Class, Variable.Instance
  .vc, .vi {
    color: @variable-blue;
    font-style: italic;
  }

  // Variable.Global
  .vg {
    color: @variable-blue;
    font-weight: bold;
  }
}
