@grey: #dddddd;
@dark-grey: #4a4a4a;
@darker-grey: #363636;
@primary: #0077CD;
@tan: #ffedcc;
@darker-tan: #eca15f;

@import "highlight";

.hero.is-primary {
  background-color: @primary;
  padding-bottom: 0.5em;
  padding-top: 0.25em;
}

body {
  background-color: @grey;
  color: #000;
}

a {
  color: @primary;
}

.section {
  padding-top: 0.5rem;
  padding: 0rem;
  background-color: #fff;
}

.columns {
  margin-top: 0;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.is-three-quarters-desktop .is-two-thirds-tablet {
  padding: 1.5rem 0rem;
}

h1.title {
  margin-bottom: 0.25rem !important;
}

article .section,
section#content {

  p, ul, ol, li {
    margin-bottom: 0.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

article .section {
  h1, h2, h3 {
    color: @darker-grey;
    font-weight: bold;
    line-height: 1.125;
    margin: 1rem 0 0.5rem 0;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  blockquote {
      background-color: @tan;
      color: @dark-grey;
      margin-top: 1em;
      margin-bottom: 1em;
      font-size: 115%;
      padding: 0.5em 0.5em 0.5em 1em;
      margin: 1em 3em 1em 0.5em;
      border-left: 0.5em solid #aca565;
  }


  .highlight {
    background-color: @grey;
    color: @dark-grey;
    margin: 0.25em 0.25em 0.5em 0.25em !important;
    padding: 0.5em;
  }

  ul:not(.pagination-list) {
    list-style-type: disc;
  }

  li {
    margin-left: 2em;
  }

  ol li {
    padding-left: 0.5em;
  }

  img {
    padding: 1em;
  }

  table {
    border: none;

    th, td {
        border: none;
        padding: 0.25em;
        text-align: center;
    }

    thead {
        border-bottom: 0.2em solid black;
        font-weight: bold;
    }

    tbody {
        border-bottom: 0.2em solid black;

        tr:nth-child(even) {
            background-color: @grey;
        }

        td, th {
            border-right: 0.1em solid @dark-grey;
            border-left: 0.1em solid @dark-grey;
        }

        th.stub {
            font-weight: bold;
            text-align: left;
        }
    }

    margin-bottom: 0.5em;
  }

  table.footnote {
      border: none;

      thead, tbody, td, th {
          border: none;
          text-align: left;
          font-weight: normal;
      }
  }
}

.link-text {
  margin-left: 5px;
}

.title.is-brand {
  font-weight: bold;
}

// .title + .highlight {
//   margin-top: -0.75rem;
// }

.admonition.note {
  background-color: @tan;
  margin: 1rem;

  p {
    padding: 0.5rem;
  }
}

.admonition-title {
  background-color: @darker-tan;
  color: white;
  font-weight: bold;
  padding-left: 0.5rem;
}

.hero-body {
  padding: 0rem 1.5rem;
}

.footnote-reference {
  position: relative;
  top: -0.5em;
  font-size: 70%;
}

footer.footer {
  position: relative;

  padding: 0.5rem;

  .icon.is-small {
    vertical-align: baseline;
  }

  .github-fork-ribbon-wrapper {
    bottom: 0;
    height: 150px;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
    width: 150px;

    .github-fork-ribbon {
      background-color: @primary;
      padding: 1px 0;
      pointer-events: auto;
      position: absolute;
      right: -65px;
      top: 65px;
      -webkit-transform: rotate(315deg);
      -ms-transform: rotate(315deg);
      transform: rotate(315deg);

      a {
        border: 2px dotted @grey;
        color: @grey;
        display: inline-block;
        font-size: 0.9rem;
        text-decoration: none;
        padding-left: 32px;
        width: 250px;
      }

      &:hover {
        background-color: @grey;

        a {
          background-color: @grey;
          border-color: @primary;
          color: @primary;
        }
      }
    }
  }
}

tt {
  font-size: 90%;
}

footer.post-info {
  margin-bottom: 1rem;
}

.card.is-fullheight {
  height: 100%;
}

.card-content a {
  h3 {
    color: @primary;
  }
  p {
    color: @dark-grey;
  }
}

.card-content a:hover {
  h3, p {
    color: @darker-grey;
  }
}

.strike {
    text-decoration: line-through;
}

// https://stackoverflow.com/a/10841767
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3 / 2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
  html, body {
    width: 100%;
    overflow-x: hidden;
  }
}

abbr[title], acronym[title] {
  // override Chrome/Firefox UA stylesheet
  text-decoration: none;
}

// Include the subset of font-awesome used herein
@import (inline) 'fontawesome-subset.css';
