{% extends "base.html" %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block tags %}
  {% with item=article %}
    {% include 'meta_tags.html' %}
  {% endwith %}
{% endblock %}
{% block content %}
<section id="content" class="body">
  <article>
    <h1 class="title">
      <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
         title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
    {% include 'article_infos.html' %}
    <div class="section">{{ article.content }}</div>
  </article>
</section>

<script type="application/ld+json">
  {{ article | schema(SITEURL) }}
</script>
{% endblock %}
