<footer class="post-info">
  {% if article.authors %}
    <p class="author">
      {% for author in article.authors %}
        {% if author.url %}
          <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
        {% else %}
          {{ author }}
        {% endif %}
      {% endfor %}
    </p>

  {% endif %}

  <abbr class="published" title="{{ article.date.isoformat() }}">
    Published <span class="is-info">{{ article.locale_date }}</span>
  {% if article.modified %}
    <abbr class="modified" title="{{ article.modified.isoformat() }}">
      <i>(updated {{ article.locale_modified }})</i>
    </abbr>
  {% endif %}

  in <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>

</abbr>

<p class="tags">
  {% include 'taglist.html' %}
</p>

  {% import 'translations.html' as translations with context %}
  {{ translations.translations_for(article) }}
</footer>
