<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width">
  <meta name="referrer" content="same-origin">
  <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
  {% assets filters="cssmin", output="css/bulma.min.css", "css/bulma-0.6.2/css/bulma.css" %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
  {% endassets %}
  {% assets filters="less", output="css/main.min.css", "css/main.less" %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
  {% endassets %}
  <link rel="shortcut icon" href="{{ SITEURL}}/theme/extras/favicon.ico">
  <style media="print">.is-hidden-print{display:none !important}</style>
  {% for extra_path in EXTRA_PATH_METADATA.values() %}
    {% if extra_path.get('path', '').endswith('.css') %}
      <link rel="stylesheet" href="{{ SITEURL }}/{{ extra_path['path'] }}">
    {% endif %}
  {% endfor %}
  {% block tags %}
  {% endblock %}
</head>

<body id="index" class="home">
<header class="hero is-primary">
  <div class="hero-head">
    <div class="container">
      <nav class="nav">
        <div class="nav-left">
          <a class="nav-item is-brand title is-3{% if output_file == "index.html" %} is-active{% endif %}"
             href="{{ SITEURL }}/">{{ SITENAME }}</a>
        </div>
      </nav>
    </div>
  </div>
</header>


<div class="container">
  <div class="section columns">
    <div class="column is-three-quarters-desktop is-two-thirds-tablet">
      {% block content %}
      {% endblock %}
    </div>

    <div class="column is-one-quarter-desktop is-one-third-tablet is-hidden-print">
      <aside class="menu">
        {% if FEED_ALL_ATOM or FEED_ALL_RSS %}
          <ul class="menu-list">
              {% if FEED_ALL_ATOM %}
                <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}"
                       type="application/atom+xml" rel="alternate">
                  <span class="icon is-small"><i class="fa fa-rss-mod"></i></span>
                  <span class="link-text">Atom Feed</span>
                </a></li>
              {% endif %}
              {% if FEED_ALL_RSS %}
                <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}"
                       type="application/rss+xml" rel="alternate">
                  <span class="icon is-small"><i class="fa fa-rss-mod"></i></span>
                  <span class="link-text">RSS Feed</span>
                </a></li>
              {% endif %}
          </ul>
        {% endif %}
        <p class="menu-label">Other Pages</p>
        <ul class="menu-list">
          <li><a {% if output_file == ARCHIVES_SAVE_AS %}class="is-active"{% endif %}
                 href="{{ SITEURL }}/{{ ARCHIVES_SAVE_AS }}">
            <span class="icon is-small"><i class="fa fa-book"></i></span>
            <span class="link-text">Archive</span>
          </a></li>

          {% if DISPLAY_PAGES_ON_MENU %}
            {% for pg in pages %}
              <li><a {% if pg == page %}class="is-active"{% endif %}
                     href="{{ SITEURL }}/{{ pg.url }}">
                <span class="icon is-small"><i class="fa fa-book"></i></span>
                <span class="link-text">{{ pg.title }}</span>
              </a></li>
            {% endfor %}
          {% endif %}


        </ul>
        {% if LINKS %}
          <p class="menu-label">Links</p>
          <ul class="menu-list">
            {% for name, link in LINKS %}
              <li><a href="{{ link }}">
                <span class="icon is-small"><i class="fa fa-globe fa-fw"></i></span>
                <span class="link-text">{{ name }}</span>
              </a></li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if SOCIAL %}
          {% include 'social.html' %}
        {% endif %}
        {% if LICENSE %}
          <p class="menu-label">License</p>
          {{ LICENSE | license | safe }}
        {% endif %}

          <p class="menu-label">Categories</p>
            {% for cat, null in categories|reverse %}
            <ul class="menu-list">
            <li><a href="{{ SITEURL }}/{{ cat.url }}">
              <span class="icon is-small"><i class="fa fa-link fa-fw"></i></span>
              <span class="link-text">{{ cat }}</span>
            </a></li>
            </ul>
            {%endfor%}
      </aside>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container has-text-centered">
    {% if SITESUBTITLE %} <p class="subtitle">{{ SITESUBTITLE }}</p>{% endif %}
    <p><a href="https://github.com/textbook/bulrush">Bulrush</a> theme for
        <a href="https://blog.getpelican.com/">Pelican</a>
      | <span class="icon is-small"><i class="fa fa-html5"></i></span> HTML 5
      | <span class="icon is-small"><i class="fa fa-css3"></i></span> CSS 3
    </p>
  </div>
  {% include 'github.html' %}
</footer>

</body>
</html>
